################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/ConsoleNPOI/v16
/ConsoleNPOI/bin/Debug
/ConsoleNPOI/obj/Debug
/packages
